//// blog single
// 個別記事

.single-eyecatch {
  max-width: $width-middle;
  margin: 0 auto 20px;
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

.single-body {
  max-width: 640px;
  margin: 0 auto 80px;
}
.single-info {
  color: $text-light;
  margin: 0 0 10px 0;
  font-family: $source-sans;
  font-size: 17px;
  a {
    color: $text-light;
  }
}
.single-category {
  position: relative;
  padding: 0 0 0 14px;
  margin: 0 12px 0 0;
  text-transform: uppercase;
  letter-spacing: .08em;
  &:before {
    content: "";
    width: 6px;
    height: 1px;
    display: block;
    position: absolute;
    background: $text-light;
    left: 0;
    top: 10px;
  }
  a {
    color: $primary;
    &:after {
      content: ",";
    }
    &:last-child:after {
      display: none;
    }
  }
}

.single-title {
  font-size: 20px;
  margin: 0 0 1em 0;
}
.single-content {
  line-height: 2;
  font-size: 17px;
  h5 {
    font-size: 110%;
    margin: 2em 0 .5em;
  }
  h6 {
    font-size: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
    margin: 0 0 1em;
  }
  p {
    margin: 0 0 1em;
  }
  a {
    color: $primary;
    &:hover {
      text-decoration: underline;
    }
  }
  .wp-caption {
    width: 100% !important;
    margin: 0 0 1em;
    color: $text-light;
    font-size: 90%;
    text-align: center;
    img {
      margin: 0;
    }
  }
}
.single-share {
  text-align: center;
  padding: 20px 0 40px;
}
.btn-share {
  border: 1px solid $text;
  padding: 8px 0;
  margin: 0 10px;
  width: 180px;
  display: inline-block;
  font-family: $source-sans;
  font-weight: bold;
  letter-spacing: .08em;
  &:hover {
    background: $bg;
  }
  &:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    margin: 0px 8px -2px 0;
  }
  &.twitter:before {
    background-image: url("./images/share-twitter.svg");
  }
  &.facebook:before {
    background-image: url("./images/share-facebook.svg");
  }
}


// 関連・新着記事
.single-aside {
  margin: 0 0 80px 0;
}
.single-aside-title {
  font-family: $source-sans;
  letter-spacing: .04em;
  font-size: 22px;
  margin: 0 0 1em 0;
}
.single-aside-entry {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  li {
    flex-basis: calc(25% - 30px);
    margin: 0 15px;
    flex-grow: 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
